<%= form_with model: @post do |form| %>
    <%= form.label :body %>
    <%= form.text_area :body %>
    <%= form.submit "Post"%>
<% end %>
<% @post.errors.each do |error| %>
    <p><%= error.full_message%></p>
<% end %>